<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/nav'); -%>
    <main class="about">
      <h1><%= heading %></h1>
      <p>A fan made page made by <a href="https://devtones.me">tones</a></p>
    </main>

    <%- include('partials/footer'); -%>
  </body>
</html>
