<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/nav'); -%>

    <main class="home">
      <section>
        <%- include('partials/logo'); -%>
        <article>
          <div class="quote">
            <h1>“I love inside jokes. I hope to be a part of one someday.”</h1>
            <p>Micahel Scott <br />CEO Paper Company INC.</p>
          </div>
          <% if(!user) { %>
          <div class="links">
            <a href="/signup">
              Sign up&nbsp;<ion-icon
                class="hide"
                name="arrow-forward-outline"
              ></ion-icon>
            </a>
            <a href="/login">
              Log in&nbsp;<ion-icon class="hide" name="key-outline"></ion-icon>
            </a>
          </div>
          <% } %>
        </article>
      </section>
    </main>

    <%- include('partials/footer'); -%>
  </body>
</html>
