<html lang="en">
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/nav'); -%>
    <main class="about">
      <section>
        <h1><%= heading %></h1>
        <p>Michael's scott secret page of paper.</p>
        <img
          src="../images/michael-roof.png"
          width="350"
          height="auto"
          alt="Miachel Scott - CEO"
        />
        <p>
          Join me,
          <a href="https://www.youtube.com/watch?v=wJzgs4J0W_M" target="_blank"
            >another night on the roof</a
          >.
        </p>
      </section>
    </main>

    <%- include('partials/footer'); -%>
  </body>
</html>
