@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: "Courier Prime", monospace;
  color: black;
  margin: 0;
  background: url("./images/michael.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fafafa;
}
body main {
  width: 100%;
  min-height: 100%;
  padding: 1rem 1rem 0;
}
body nav {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(239, 234, 201, 0.5);
  border-bottom: 0.25px solid goldenrod;
}
body nav a {
  margin: 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: min(3vw, 1.25rem);
  color: black;
  transition: all 300ms ease;
}
body nav a:hover {
  color: grey;
}
body nav a.paper {
  background: gold;
  padding: 0.5rem;
}
body main.home {
  display: flex;
  align-items: center;
}
body main.home section {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  width: 100%;
  background: #eeeeee;
  padding: 1rem;
}
@media only screen and (min-width: 900px) {
  body main.home section {
    width: 50%;
  }
}
body main.home section article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
body main.home section article .quote {
  padding: 1.5rem;
  background: white;
}
body main.home section article .quote h1 {
  font-size: min(7vw, 2rem);
}
body main.home section article .quote p {
  text-align: right;
  opacity: 0.5;
}
body main.home section article .links {
  display: flex;
}
body main.home section article .links a {
  color: black;
  font-size: min(4vw, 1.5rem);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75rem;
  margin: 1rem 1rem 0 0;
  background: goldenrod;
  transition: all 600ms ease;
}
body main.home section article .links a:hover {
  background: orangered;
}
body main.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main.form form {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  background: #eeeeee;
  padding: 1.5rem;
}
body main.form form h2 {
  font-size: min(7vw, 2rem);
  margin: 0 0 2rem 0;
}
body main.form form .form-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
body main.form form label {
  font-size: min(5vw, 1.75rem);
  color: #333;
  margin: 0 0 0.5rem 0;
}
body main.form form input {
  font-size: min(3vw, 1.25rem);
  outline: 0;
  padding: 0.75rem;
  border: none;
  font-family: "Courier Prime", monospace;
  color: grey;
}
body main.form form button {
  font-family: "Courier Prime", monospace;
  outline: 0;
  border: none;
  color: black;
  font-size: min(4vw, 1.5rem);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75rem;
  margin: 1rem 1rem 0 0;
  background: goldenrod;
  transition: all 600ms ease;
}
body main.form form button:hover {
  background: orangered;
}
body main.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}
body main.about section {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  background: #eeeeee;
  padding: 1rem;
}
body main.about section h1 {
  margin: 0 0 0.5rem;
}
body main.about section img {
  margin: 1rem 0;
}
body footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: ghostwhite;
}

/*# sourceMappingURL=styles.css.map */
